<!doctype html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: arial, sans-serif;
            margin: 0 4rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            padding-top: 2rem;
        }

        td, th {
            border: 1px solid #e0e0e0;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
<h1>Stocktaking</h1>

<h3>Please note the following information</h3>

<ul>
    <li>
        If a product does not exist in this list, but does exist, it has not
        yet been entered in the system. Make sure that the product is created
        before this stocktaking is entered <b>and</b> that the replenishment is
        also entered before it is entered.
    </li>
    <li>
        Please make sure that no products are purchased during the stocktaking.
        If a  product no longer exists, i.e. the count is 0, and you do not want
        to buy it again in the future (for the time being), you can check "Set
        inactive?". When entering the stocktaking in shop-db2-admin you can
        then take this into account.
    </li>
</ul>


<p>Name:</p>
<hr>
<p>Date and Time:</p>
<hr>
<p>Signature:</p>
<hr>

<br><br>


<table>
    <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Set inactive?</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product['name'] }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>

</body>


